{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<br>
<br>
<br>
<button><a id="adduser" href="{% url 'mainreg' %}">Add User</a> &nbsp;&nbsp;  &nbsp;&nbsp; </button>
<br>
<br>
<br>
<h1>Registered Users</h1>
<table border="1" width="600">
<tr>
<td>Username</td>
<td>Email</td>
<td>PhoneNumber</td>
</tr>

{% for tab in table %}
<tr>
<td>{{ tab.Username }}</td>
<td>{{ tab.Email }}</td>
<td>{{ tab.PhoneNumber }}</td>
</td>
</tr>
{% endfor %}
</table>

<br>
<br>
<br>
<br>
<br>
<br>



