{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
<h1>New User Registration Page</h1>
<hr>

<form method="POST">
    {% csrf_token %}

<table id="table" border="1">
    <tr>
        <td id="username">Username</td>
        <td><input id="usernamesize"type="text" placeholder="Username" name="Username" required></td>
    </tr>
    <tr>
        <td id="email">Email</td>
        <td><input id="emailsize" type="email" placeholder="Email" name="Email" required></td>
    </tr>
    <tr>
        <td id="password">Password</td>
        <td><input id="passwordsize" type="password" placeholder="Password" name="pwd" required></td>
    </tr>
    <tr>
        <td id="phonenumber">PhoneNumber</td>
        <td><input id="phonenumbersize" type="number" placeholder="PhoneNumber" name="PhoneNumber" required></td>
    </tr>
    
        <td></td>
        <td> <button id="registration" type="submit">Registration</button></td>
    </tr>   
</table>

{% if messages %}
{% for msg in messages %}
</h2>{{msg}}<h2>
{% endfor %}
{% endif %} 
<em id="signin">If You Are Already A Member <a href="{%url 'loginpage'%}">SignIn </a></em>

</form> 
